<div class="container">
    <%= form_for exams_path do |f| %>
      <% @questions.each do |question| %>
        <%= question.name  %> <br><br>
        <%= f.fields_for :options do |ff| %>
          <% question.options.each do |option| %>
            <%= ff.radio_button "ops#{question.id}", option.id %>
            <%= f.label :option, option.option %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.submit %>
    <% end %>
</div>
